body{
	font-family:Calibri, sans-serif;
}
.section > h2{
	border-bottom: 1px solid #000;
}
.skillset{
	text-align:right;
	font-weight:bold;
}
.right{
	text-align:right;
}
.bold{
	font-weight:bold;
}
.italic{
	font-style:italic;
}
.footer{
	height:60px;
}
h1, .goal{
	font-size:2em;
	margin: 0.67em 0 .1em 0;
	font-weight:bold;
}